<div class="social-nav">
    <ul class="social-list">
        <li class="social-item"><a target="_blank" href="mailto:me@georgenishimura.com" class="link social-link email"><i class="fa fa-lg fa-envelope-square social-icon email"></i><span class="link-text email" data-hover="email">me@georgenishimura.com</span></a>
        </li>
        <li class="social-item"><a target="_blank" href="https://github.com/thetmkay" class="link social-link github"><i class="fa fa-lg fa-github-square social-icon github"></i><span class="link-text github" data-hover="github">thetmkay</span></a>
        </li>
        <li class="social-item"><a target="_blank" href="https://twitter.com/thetmkay" class="link social-link twitter"><i class="fa fa-lg fa-twitter-square social-icon twitter"></i><span class="link-text twitter" data-hover="twitter">@thetmkay</span></a>
        </li>
    </ul>
</div>
