
@include keyframes(socialfixed) {
	0% {
		top: 2em;
	}
	100% {
		top: 2.5em;
	}
}

.social-nav.fixed {
	@include mq($social-nav-fixed-width) {
		position: fixed;
		top: 2.5em;
		// padding-top: 0.5em;
		@include animation(socialfixed 0.25s);
	}
}


.social-link.email {
	@include mq($social-nav-fixed-width) {
		min-width: 250px;
	}
}

.social-link.github, .social-link.twitter {
	@include mq($social-nav-fixed-width) {
		min-width: 130px;
	}
}

.social-link {
	color: white;
	font-family: #{$home-font};
	font-weight: 600;
	line-height: 1em;
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	padding: 0.2em 0;

	.link-text {

		// width: 100%;
		height: 1em;
		font-weight: 200;
		// display: none;
		position: relative;
		top: 1.9em;
		min-width: 205px;
		display: inline-block;
		text-align:left;


		@include mq($social-nav-fixed-width) {
			min-width: initial;
		}


		@include mq($med-width) {
			font-weight: 200;
			@include prefixer(transition, top 0.4s, webkit ms moz);
		}

	}

	& .link-text:before {
		padding: 0 2px;
		position: absolute;
		top: -1.9em;
		content: attr(data-hover);
		font-weight: 200;

		@include mq($med-width) {
			font-weight: 600;
		}
	}
}

.social-link:hover {

	& .link-text {

		@include prefixer(transition, font-weight 0.4s, webkit ms moz);
		font-weight: 200;

		@include mq($med-width) {
			@include prefixer(transition, top 0.4s, webkit ms moz);
			top: 0em;
		}
	}

	& .link-text:before {
		font-weight: 600;
	}

}

.social-icon {
	padding-right: 4px;
}

.social-list {
	list-style-type: none;
	text-align: center;
	padding: 0 5%;
	margin: 0;
}

.social-item {

	display: block;
	width: 100%;
	text-align: center;

	@include mq($social-nav-fixed-width) {
		display: inline-block;
		width: 30%;
	}
	position: relative;
}

.social-nav {
	width: 100%;
	background-color: $green;
	padding: 0.5em;
	z-index: 1;
	// padding-top: 0.5em;
}
