.nav-link {
	color: #ddd;
}

@include keyframes(socialfixed) {
	0% {
		top: 2em;
	}
	100% {
		top: 2.5em;
	}
}

.social-nav.fixed {
	position: fixed;
	top: 2.5em;
	// padding-top: 0.5em;
	@include animation(socialfixed 0.25s);
}


@include keyframes(navpop) {
	0% {
		color: #ddd;
		font-size: 16px;
	}
	50% {
		color: $green;
		font-size: 17px;
	}
	100% {
		color: $green;
		font-size: 16px;
	}
}

@include keyframes(socialleft) {
	0% {
		font-size: 24px;
		left: -8px;
		opacity: 0;
	}
	100% {
		font-size: 28px;
		left: -15px;
		opacity: 0.8;
	}
}

@include keyframes(socialright) {
	0% {
		font-size: 26px;
		right: -8px;
		opacity: 0;
	}
	100% {
		font-size: 26px;
		right: -15px;
		opacity: 0.8;
	}
}

@include keyframes(socialslide) {
	0% {
		top: 1.5em;
	}
	100% {
		top: 0em;
	}
}

.nav-link.animate {
	@include animation(navpop 0.25s);
	color: $green;
	font-size: 16px;
}

.nav-link:hover {
	color: $green;
}

.nav-link.animate:hover {
	border-bottom: solid 2px $green;
}

.social-link.email {
	min-width: 250px;
}

.social-link.github, .social-link.twitter {
	min-width: 130px;
}

.social-link {
	color: white;
	font-family: #{$home-font};
	font-weight: 600;
	line-height: 1em;
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	padding: 0.2em 0;

	.link-text {
		position: relative;
		top: 1.9em;
		height: 1em;
		font-weight: 200;

		@include mq($med-width) {
			font-weight: 200;
			@include prefixer(transition, top 0.4s, webkit ms moz);
		}

	}

	& .link-text:before {
		padding: 0 2px;
		position: absolute;
		top: -1.7em;
		content: attr(data-hover);
		font-weight: 200;

		@include mq($med-width) {
			font-weight: 600;
		}
	}

}

.social-link:hover {

	& .link-text {

		@include prefixer(transition, font-weight 0.4s, webkit ms moz);
		font-weight: 200;

		@include mq($med-width) {
			@include prefixer(transition, top 0.4s, webkit ms moz);
			top: 0em;
		}
	}

	& .link-text:before {
		font-weight: 600;
	}

}



.social-icon {
	padding-right: 4px;
}

.social-list {
	list-style-type: none;
	text-align: center;
	padding: 0 5%;
	margin: 0;
}

.social-item {
	display: inline-block;
	width: 30%;
	position: relative;
}

.social-nav {
	width: 100%;
	background-color: $green;
	padding: 0.5em;
	z-index: 1;
	// padding-top: 0.5em;
}

.header {
	position: fixed;
	z-index: 1;
	border-bottom: solid 2px lighten($green, 10);
}

.intro-mod {
	width: 100%;
	background-color: $green;
	padding-top: 3em;
	min-height: 400px;
	position: relative;
}

.intro {
	max-width: 380px;
	margin: auto;
	font-family: #{$home-font};
	color: white;
	font-weight: 200;
	letter-spacing: 1px;
	position: absolute;
	top: 3em;
	left: 0;
	right: 0;
	bottom: 0;
	height: 6em;
}

.intro-link {
	// background-color: darken($green, 5);
	color: white;
	line-height: 1.5em;
	font-weight: 600;
}

.intro-link:hover {
	font-weight: 600;
	border-bottom: solid 1px white;
}

.filler {
	height: 900px;
}

.section {
	width: 100%;
	height: 500px;
	background-image: url(/img/bus.jpg);
	position: relative;
}

.section-intro {
	height: 200px;
	margin: auto;
	width: 100%;
	background: white;
	position: absolute;
	top: 0;
	bottom: 0;
}
