* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
}

.page-container {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	font-family: #{$home-font};
}

.row {
  padding: 1em;
  width: 100%;
  
}
