$green:#146A3E;
$bg-green:#A8CABA;
// $home-font: 'Inconsolata', monospace;
$home-font: 'Open Sans', sans-serif;


$max-width: 1200px;
$social-nav-full-width: 750px;
$sml-width: 450px;
$intro-width: 480px;
$social-nav-fixed-width: 480px;

$social-nav-light: 200;
$social-nav-bold: 600;
