$green:#146A3E;
// $home-font: 'Inconsolata', monospace;
$home-font: 'Open Sans', sans-serif;


$max-width: 1200px;
$med-width: 750px;
$sml-width: 450px;
$intro-width: 480px;
$social-nav-fixed-width: 480px;

