@import "page";
@import "gn/maintenance";
@import "components/socialnav";
@import "components/intro";


.section {
	width: 100%;
	height: 500px;
	background-image: url(/img/bus.jpg);
	position: relative;
}

.section-intro {
	height: 200px;
	margin: auto;
	width: 100%;
	background: white;
	position: absolute;
	top: 0;
	bottom: 0;
}
