@import 'variables';
@import 'universal';

.main {

  font-size: 16px;

}

.row-txt {
  max-width: $max-width;
  margin: 0 auto;
  font-family: Roboto Slab, sans-serif;
  font-weight: 300;
}


.topics.row {

}

.contact.row {
  background-color: darken(#57B6F3,10);
  color: white;
}

.intro.row {
  margin-top: 10%;
  background-color:#006F3B;
}


.inv-color {
  color: white;
  .link, .link:active, .link:visited {
    color: white;
  }

}

.link {

  &, &:visited, &:active {
    border-bottom: dashed 1px white;
  }

  &:hover {
    border-bottom: solid 1px white;
  }

}

/*.link {

  position: relative;

  &:before {
    display: none;
  }

  &:after {
    display: inline;
    content: attr(data-content);
  }

  &:hover:after {
    display:none;
  }

  &:hover:before {
    display: inline;
    content: attr(data-link);
  }

}*/

.topics-txt {
  margin-top: 1em;
  margin-bottom: 1em;
}

.topic-item {
  margin: 0.5em 0;
}
